
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:teal ;
  --color-secondary:  red;
}

*{
   font-family: "Montserrat", sans-serif;
}

.formFil{
   @apply grid grid-cols-1 md:grid-cols-2 gap-4 justify-between items-center  
}
.inputW{
   @apply  w-full 
}