
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:teal ;
  --color-secondary:  #1289A7;
}

*{
   font-family: "Montserrat", sans-serif;
}

.formFil{
   @apply grid grid-cols-1 md:grid-cols-2 gap-4 justify-between items-center  
}
.inputW{
   @apply  w-full 
}

.linerBg{
   @apply bg-linear-to-r from-red-100 to-red-50 md:py-8
}
a.active{
   @apply  text-indigo-900 font-bold  
}
.hoversH{
   @apply  hover:animate-pulse duration-500
}
.smp{
   @apply p-2 mb-[25px]
}
.listi{
   @apply  space-y-2
}
.titles{
@apply  font-bold md:text-3xl text-2xl text-red-950 mb-2
}